.site-page-header-ghost-wrapper {
    background: gainsboro;
    .ph {
        background: gainsboro;
    };
};

.link {
    box-sizing: content-box;
    padding: 5px;
    color: #282c34;
    border-radius: 3px;
    border: 1px solid #61dafb;
    background-color: rgba(97, 218, 251, 0.25) ;
};

.exit {
    color: indianred;
};